.container-post {
    width: 825px;
    height: 420px;
    border: 2px solid black;
    background: beige;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.post-image{
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.post-content{
    grid-column-start: 2;
    margin-top: 23px;
    margin-bottom: 23px;
    padding-right: 18px;
    padding-left: 18px;
    text-align: left;
    overflow-wrap: break-word;
    overflow: scroll;
}

.title-post{
    font-size: 2.5em;
    margin-bottom: 15px;
}

p{
    font-size: 1em;
    margin-bottom: 15px;
}

.tags{
    font-size: 1em;
    color: #6BB096;
    margin-bottom: 15px;
}

.likeBox{
    display: grid;
    grid-template-columns: 15% 30% auto;
    column-gap: 10px;
    margin-bottom: 15px;
}

.likes{
    font-size: 1.1em;
    font-weight: 700px;
    color: #F44336;
    margin-top:5px;
    margin-bottom: 5px;

    grid-column-start: 2;

    /* margin-right : 20px; 
    float:left; */
}

.comment-title{
    font-size: 1.1em;
    font-weight: 700px;
    margin-bottom: 7px;
    margin-top: 10px;
}

.comments{
    font-size: 1em;
    font-weight: 400px;
    margin-bottom: 8px;
}

img{
    object-fit: cover;
    width: 375px;
    height: 375px;
    border-radius: 20px;
}

.likeButton{
    grid-column-start: 1;
    border-radius: 15px;
    border-style: solid;
    border-color: #F44336;
    color:black;
    background-color: white;
    font-family: "Roboto";
    
}

.delete-div {
    padding-top: 10px;
    padding-bottom: 10px;
}
.delete-button {
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: darkred;
    font-family: "Roboto";
    padding: 5px;
}

.likeBox-notLoggedIn{
    display: flex;
    flex-direction: column;
}

.paragraphLikeBox {
    margin-bottom: 5px ;
 
}

.comment-div{
    margin:0;
    padding:0;
}

.comment-input{
    width: 95%;
    font-size: 18px;
    padding: 6px 6px;
    margin: 8px 0;
    
}

.commentButton{
    border-radius: 7px;
    border-style: solid;
    border-color: black;
    color:black;
    background-color: white;
    font-family: "Roboto";
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    
}


