.upload-container{
    padding: 20px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;
}

.upload-form{
    width: 55%;
}

.input-div{
    padding: 10px;
    font-size: 18px;
}

.upload-button{
    background: #273958;
    width: 100px;
    height: 35px;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700px;
    font-size: 1em;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.submit-div{
    padding-top: 10px;
    text-align: center;
}

.input{
    width: 100%;
    font-size: 18px;
    padding: 10px 10px;
    margin: 8px 0;
}

#caption-input{
    height: 150px;
    resize: none;
    font-family: 'Roboto';
}

label{
    font-weight: 500;
    letter-spacing: 0.04em;
}

.searchButton{
    
    background: #273958;
    width: 100px;
    height: 35px;
    border-radius: 40px;
    border-style: solid;
    font-style: normal;
    font-weight: 700px;
    font-size: 1em;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 15px;

    
}